* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: rgb(242, 242, 242);
}

/* -------------------------------------------- */
/* Header section */
.navbar-nav li a {
    font-size: 1.125rem;
}

/* --------------------------------------------- */

/* Hero section */
.hero {
    height: 90vh;
}

.hero-container .hero-text {
    flex: 1;
}

/* Line with animation */
.underline {
    width: 0;
    height: 3px;
    background-color: #9f0303;
    animation: expandLine 2s ease-out forwards;
}

@keyframes expandLine {
    form {
        width: 0;
    }

    to {
        width: 100px;
    }
}


/* project card */

.project-card {
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.50);
    animation: transform 0.3s ease, box-shadow 0.3 ease;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 1px 2px 14px 0px rgba(0, 0, 0, 0.75);
}



/* project card ends------------------ */


/* Footer section */
.footer-heading {
    font-size: 4.5rem;
    font-weight: 800;
    color: #fff;
}

.footer-heading:hover {
    color: rgb(51, 111, 241);
}

/* --------footer ends------------------ */


/* Responsive styles 
Desktop-first Approach */

@media (max-width:768px) {
    .sub-title {
        display: none;
    }
}

@media (min-width: 768px) {

    /* from md and above */
    .footer-heading {
        font-size: 4.5rem !important;
    }

    .hero-title {
        font-size: 4.5rem;
    }

    .about-para {
        font-size: 1.875rem;
        line-height: 3rem;
        font-weight: 600;
    }

}